.image-product {
    width: 220px;
    height: 220px;
    border-radius: 15%;
    margin-right: 30px;
    object-fit: cover;
}
.box{
    margin-right: 25px;
    min-width: none;
}

.image-empren {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
}