.image-product {
    width: 220px;
    height: 220px;
    border-radius: 15%;
    margin-right: 30px;
    object-fit: cover;
    /* border: 1px #000; */
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.15);
}
.box{
    margin-right: 25px;
    min-width: none;
    
    
}

.image-empren {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    margin-right: 30px;
    object-fit: cover;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.15);
    
}